body {
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-auto-rows: 40% 40%;
  margin: 0 auto;
  width: 80%;
}
