header {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
header img {
  width: 7%;
}

header div {
  width: 30%;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

header li {
  color: #7a7679;
}

header li:hover {
  color: #f53a33;
}

header a {
  text-decoration: none;
}
